@use "../../modules/funcs.module";
@use "../../modules/units.module";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 funcs.px-rem(25);
  background: none;
  border-radius: 0;
  outline: none;
  border: none;

  font-size: funcs.px-rem(18);
  font-weight: 400;

  white-space: nowrap;

  cursor: pointer;

  transition: 0.16s ease-out;

  color: var(--text-primary);

  &:hover {
    box-shadow: 0 0 funcs.px-rem(24) rgba(0, 0, 0, 0.25);
  }
}

.small {
}
.medium {
  height: units.$medium;
}
.large {
  padding: 0 funcs.px-rem(54);
  height: units.$large;
  font-size: funcs.px-rem(30);
  font-weight: 500;
}

.bg_default {
  background: var(--base);
  color: var(--text-contrast);
}
.bg_inherit {
  background: var(--background);
  color: var(--text-primary);
}

.bg_on_hover_default {
  &:hover {
    background: var(--base);
    color: var(--text-contrast);
  }
}

.bg_on_hover_inherit {
  &:hover {
    background: var(--background);
    color: var(--text-primary);
  }
}

.border_default {
  border: funcs.px-rem(1) solid var(--base);
}
.border_inherit {
  border: funcs.px-rem(1) solid var(--background);
}

.fullWidth {
  width: 100%;
}
