@use "../../shared/modules/funcs.module";

.filter_and_sort_wrap {
  padding: funcs.px-rem(32) 0;
  display: flex;
}

.filter_and_sort_left {
  display: flex;
  align-items: center;
  column-gap: funcs.px-rem(40);
  row-gap: funcs.px-rem(15);

  flex-wrap: wrap;
}
