@use "../../modules/funcs.module";

.top_nav {
  padding: funcs.px-rem(4) 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.top_nav_container {
  display: flex;
  align-items: center;
}

.top_nav__list {
  display: flex;
  align-items: center;
  gap: funcs.px-rem(31);
}

.link {
  color: var(--text-primary);

  &:hover {
    color: var(--text-secondary);
  }
}
